@font-face {
    font-family: "Atalon";
    src: url(font/Atalon.otf) format("opentype");
}
@font-face {
    font-family: "Gincu";
    src: url(font/Gincu.ttf) format("truetype");
}
@font-face {
    font-family: "Rudiment";
    src: url(font/Rudiment.ttf) format("truetype");
}
body {
    background-color: antiquewhite;
    color: rgb(29, 29, 29);
    overflow: hidden;
    font-family: "Rudiment";
    margin: auto;
    text-align: center;
    letter-spacing: .5em;
        margin: 0;
        background-color: #f0f0f0;
}
#Shop {
    display: hidden;
    position: absolute;
    width: 50%;
    height: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    background-color: #7e7e7e;
    z-index: 9;
}
#Shop h2 {
    margin-top: 5%;
    color: white;
    text-decoration: underline;
    margin-bottom: 5%;
    text-align: center;
}
#Shop h3 {

    margin: auto;
    margin-top: 10%;
    color: white;
}
#Shop h4 {
    margin-block-end: 0em;
    font-size: 3em;
    color: white;
    padding: 0%;
}
#close {
    margin-bottom: 5em;
border: 5px solid #6fc6ff;
}
#shopButton {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Atalon";
    font-size: 5em;
}
a {
 text-decoration: none;
 color: inherit;
}
footer {
position: absolute;
font-size: 1.5em;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
}
#Menu {
background-color: white;
border-radius: 2em;
padding: 3em;
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);}

#scoreArea {
    z-index: -1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10em;
}
button {
    background-color: #acacac;
    font-size: 1.5em;
    font-family: 'Rudiment';
    font-weight: bold;
    border: none;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
    cursor: pointer;
    transition: all 123ms;
    letter-spacing: 0.2em;
}
button:hover { 
    background-color: #7e7e7e;
        transform: scale(1.05);
        filter: invert(100%);
        rotate: -3deg;
}
#Menu button {
    margin-top: 2em;
    font-size: 1.5em;
    font-family: 'Rudiment';
    font-weight: bold;
    border: none;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 2em;
    cursor: pointer;
    transition: all 123ms;
    letter-spacing: 0.15em;
}
#Menu button:hover {
    transform: scale(1.05);
    filter: invert(100%);
    rotate: -3deg;
}
.Letter {
    font-family: 'Rudiment';
    font-size: 7em;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(75, 75, 75);
}
.Value {
    margin-bottom: -2em;
    margin-right: -0.5em;
    font-family: 'Rudiment';
    font-size: 2em;
}

.Container {
    border-radius: 1em;
    width: 12vh;
    height: 13vh;
    background-color: #3498db;
    transition: all 0.33Ss;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 15px 1px rgb(125, 125, 125), inset 10px 10px 10px -5px #6fc6ff;
}
@media only screen and (max-width: 960px) {
    .Container {
        width:10vw;
        height: 11vw;
        font-size: 0.5em;
    }
    #ButtonArea {
        gap: 2.5em;
    }
  }
  @media only screen and (aspect-ratio: 16/10){
    .Letter {
    font-size: 5em;
}
.Value {
    font-size: 1em;
}
  }
@media only screen and (max-width: 600px) {
    .Container {
        width:10vw;
        height: 11vw;
        font-size: 0.5em;
    }
    .buyButtons1, .buyButtons2 {
        display: block;
    }
   button{
        margin-bottom: 1em;
    }
  }
.Container:hover {
    cursor: pointer;
    rotate: 2deg;
}
#LetterArea {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1em;
}
#GameArea  {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.5em;
}
#GameArea .Container:hover {
opacity: 0.6;
}
#score {
    font-size: 5em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden {
    display: none;
}
.buyButtons1{
    color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
    gap: 1em;
    columns: 3;
}
.buyButtons2{
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
    gap: 1em;
    columns: 4;
}
#Shop .bought {
    background-color: #7e7e7e;
}
#Shop .bought:hover {
    background-color: #7e7e7e;
    filter: none;
    transform: none;
    transition: none;
}
